# The root path for the API. This is the path that the API will be served from.
API_ROOT=/api

# List of origins that can access this API, separated by a comma,
# eg: CORS_ORIGINS=http://localhost,https://www.example.com
CORS_ORIGINS=*