# The root path for the API. This is the path that the API will be served from.
API_ROOT=/api

# List of origins that can access this API, separated by a comma,
# eg: CORS_ORIGINS=http://localhost,https://www.example.com
CORS_ORIGINS=*

# JWT Secret Key
# Generate with: openssl rand -hex 32
# Or Python: python -c 'import secrets; print(secrets.token_hex(32))'
# Must be 32+ characters. DO NOT use the example below!
JWT_SECRET_KEY=CHANGE_ME

# How long the access token is valid for, in minutes. Defaults to 30
JWT_ACCESS_TOKEN_MINUTES=30
